-- Verificar si existe la tabla usuarios
SELECT * FROM Developers.usuarios;

-- Si no existe el usuario admin, crear uno:
-- INSERT INTO Developers.usuarios (username, password, role, estado_registro) 
-- VALUES ('admin', '\\\', 'ROLE_ADMIN', 'ACTIVO');
-- Password: admin123




create database Developers

USE Developers;

select * from proyectos
select * from trabajadores


select * from usuarios



-- Desactivamos la revisión de llaves foráneas temporalmente
SET FOREIGN_KEY_CHECKS = 0;

-- Truncar reinicia el ID a 1 automáticamente en MySQL
TRUNCATE TABLE trabajadores;
TRUNCATE TABLE proyectos;

-- Volvemos a activar la revisión
SET FOREIGN_KEY_CHECKS = 1;


Estructura de la Base de Datos
Tablas Principales
1. Tabla usuarios
CREATE TABLE usuarios (
    id BIGINT AUTO_INCREMENT PRIMARY KEY,
    username VARCHAR(255) UNIQUE NOT NULL,
    password VARCHAR(255) NOT NULL,
    role VARCHAR(255) DEFAULT 'ROLE_ADMIN',
    estado_registro VARCHAR(255) NOT NULL DEFAULT 'ACTIVO'
);
2. Tabla trabajadores
CREATE TABLE trabajadores (
    id BIGINT AUTO_INCREMENT PRIMARY KEY,
    nombre VARCHAR(255) NOT NULL,
    apellido VARCHAR(255) NOT NULL,
    email VARCHAR(255),
    telefono VARCHAR(255),
    fecha_ingreso DATE DEFAULT CURRENT_DATE,
    cargo VARCHAR(255),  -- ENUM: PROGRAMADOR, INGENIERO_SISTEMAS, ANALISTA, DISENADOR_UX_UI, QA_TESTER, DEVOPS, JEFE_DE_PROYECTO
    estado_registro VARCHAR(255) NOT NULL DEFAULT 'ACTIVO'
);
3. Tabla proyectos
CREATE TABLE proyectos (
    id BIGINT AUTO_INCREMENT PRIMARY KEY,
    titulo VARCHAR(255) NOT NULL,
    descripcion TEXT,
    fecha_asignacion DATE DEFAULT CURRENT_DATE,
    fecha_limite DATE,
    estado VARCHAR(255),  -- ENUM: PENDIENTE, EN_PROGRESO, COMPLETADO, CANCELADO
    estado_registro VARCHAR(255) NOT NULL DEFAULT 'ACTIVO',
    trabajador_id BIGINT NOT NULL,
    FOREIGN KEY (trabajador_id) REFERENCES trabajadores(id)
);